* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: "Roboto";
}

.master-contenedor {
  width: 100vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 242px;
  width: 100vw;
  background-color: rgb(255, 255, 255);
}

/* .contents {
  display: flex;
  align-items: center;
   justify-content: space-between; 
  height: fit-content;
  width: 1500px;
  border: solid black 2px;
} */

.logo {
  width: 156px;
  height: 78px;
  margin-right: 70px;
  background-color: #849fff;
  border: none;
}

.busqueda {
  width: 520px;
  height: 73px;
}

.buscar {
  background-color: #393939;
  color: white;
  height: 73px;
  margin-left: 36px;
  width: 242px;
}

.inbox-body {
  display: flex;
  height: 100vh;
}

.menu {
  background-color: #c4c4c4;
  width: 296px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.contenido {
  flex-grow: 1;
  background-color: #fff59b;
  padding: 30px 0px 0px 34px;
}

.emails-list {
  padding-top: 29px;
  list-style: none;
  font-size: 24px;
}

.link-interno {
  width: 242;
  height: 73px;
  text-decoration: none;
  margin-bottom: 27px;
  color: black;
  text-align: center;
  font-family: "Roboto";
}

button {
  background-color: #888888;
  border: none;
}

h2 {
  font-weight: 700, Bold;
  font-size: 40px;
  line-height: 46.88px;
  padding-bottom: 26px;
}

h3 {
  font-size: 60px;
}
