* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: "Roboto";
}

.header {
  display: flex;
  justify-content: center;
  padding: 80px 0px 80px 0px;
  height: 242px;
  width: 100vw;
  background-color: white;
  border: solid black 2px;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 1500px;
  border: #393939 solid 9px;
}

.logo {
  width: 156px;
  height: 78px;
  background-color: #849fff;
  border: none;
}

.textarea {
  width: 800px;
  height: 73px;
}

.buscar {
  background-color: #393939;
  color: white;
  height: 73px;
  width: 242px;
}

.inbox-body {
  display: flex;
  height: 100vh;
}

.menu {
  background-color: #c4c4c4;
  width: 296px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.contenido {
  flex-grow: 1;
  background-color: #fff59b;
}

.emails-list {
  list-style: none;
}

.link-interno {
  width: 242;
  height: 73px;
  background-color: #888888;
  text-decoration: none;
  margin-bottom: 27px;
  color: black;
  text-align: center;
  font-family: "Roboto";
}
